body {
  margin: 45px auto;
  font-family: 'Fira Code', monospace;
}

hr {
  border-image: url("../img/hr.svg") 0 2 6 2 stretch stretch;
  border-style: solid;
  border-width: 0 2px 6px 2px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nowrap {
  white-space: nowrap;
}

.figure {
  align-self: end;
}

.text-center {
  text-align: center;
}
